{% extends 'student.html' %}
{% block page_name %}课表{% endblock %}
{% block body_part2 %}
<table class="blacktab" border="0" style="border-color:Black;width:100%;"><tr>&ensp;&ensp;<td>时间</td><td>星期一</td><td>星期二</td><td>星期三</td><td>星期四</td><td>星期五</td><td>星期六</td><td>星期日</td></tr>
<tr>&ensp;&ensp;<td>早晨</td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
<tr>&ensp;&ensp;<td>上午</td><td>第1节</td><td>软件工程概论周一第1,2节{第6-13周}董元和科教大厦9504</td><td>概率论与数理统计周二第1,2节{第1-16周}江秉华科教大厦9502</td><td> </td><td>数据结构与算法设计综合实训周四第1,2节{第1-16周}教师1信息大楼10601-2软件工程概论周四第1,2节{第6-13周}董元和科教大厦9504</td><td>概率论与数理统计周五第1,2节{第1-15周|单周}江秉华科教大厦9502</td><td> </td><td> </td></tr>
<tr>&ensp;&ensp;<td>第2节</td><td> </td><td> </td><td> </td></tr>
<tr>&ensp;&ensp;<td>第3节</td><td>离散数学周一第3,4节{第1-15周|单周}刘进军科教大厦9504</td><td> </td><td>离散数学周三第3,4节{第1-16周}刘进军科教大厦9502</td><td>大学英语（拓展课程）周四第3,4节{第17-17周}赵凯大学英语(三)周四第3,4节{第1-16周}赵凯科教大厦9501</td><td>大学英语（拓展课程）周五第3,4节{第17-17周}赵凯大学英语(三)周五第3,4节{第1-16周}赵凯教育大楼1611</td><td> </td><td> </td></tr>
<tr>&ensp;&ensp;<td>第4节</td><td> </td><td> </td><td> </td></tr>
<tr>&ensp;&ensp;<td>下午</td><td>第5节</td><td> </td><td>数据结构与算法周二第5,6节{第1-16周}丁一科教大厦9502</td><td>数据结构与算法设计综合实训周三第5,6节{第1-16周}教师1信息大楼10601-3</td><td> </td><td> </td><td> </td><td> </td></tr>
<tr>&ensp;&ensp;<td>第6节</td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
<tr>&ensp;&ensp;<td>第7节</td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
<tr>&ensp;&ensp;<td>第8节</td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
<tr>&ensp;&ensp;<td>晚上</td><td>第9节</td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
<tr>&ensp;&ensp;<td>第10节</td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
<tr>&ensp;&ensp;<td>第11节</td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
</table>
{% endblock %}